.fondo{
    color: white;
    background-image: url('https://media.istockphoto.com/id/1442452138/es/foto/estrellas-espaciales-nebulosa-fondo-del-universo.jpg?s=612x612&w=0&k=20&c=smY0fmLP-4_mZO975VihsgP1VnQbop7TdxF9lSe6zBw=');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333;
    opacity:0.9;
    padding: 40px;
    text-align: center;
    font-size: 20px;
}